.contact--main--container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .contact--header--section {
    text-align: center;
    /* margin-bottom: 2rem; */
    /* color: darkmagenta */
    padding-top: 4rem;
  }
  
  .contact--header--paragraph {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
    color: darkmagenta  
  }
  
  .contact--sub--body--paragraph {
    font-size: 1rem;
    color: #666;
  }
  
  .contact--form--section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .contact--form--inputrow {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* background-color: #fff; */
  }
  
  .contact--form--inputrow input {
    flex: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
    background-color: #fff;
  }
  
  .contact--form--inputrow input:focus {
    border-color: #8e54e9;
  }
  
  .contact--form--inputfull {
    /* width: 100%; */
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
  }
  
  .contact--form--inputfull:focus {
    border-color: #8e54e9;
  }
  
  .contact--form--textarea {
    /* width: 100%; */
    min-height: 150px;
    resize: vertical;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;
  }
  
  .contact--form--textarea:focus {
    border-color: #8e54e9;
  }
  
  .contact--form--button {
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(to right, #4776E6, #8E54E9);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .contact--form--button:hover {
    background: linear-gradient(to right, #365de1, #783eea);
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .contact--form--inputrow {
      flex-direction: column;
    }
  }
  