* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

.portfolio--main--page {
  border: 0.1px solid black;
  min-height: 100vh; 
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .portfolio--main--page {
    min-width: 100vw;
  }
}